{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block content %}
<style>
  h4 {
    color: #E26D5C;
    font-family: 'Fira Sans Condensed', sans-serif;
    border-color: #E26D5C;
  }

  .book-author-type {
  font-family: 'Spinnaker', sans-serif;
  color: #39304A;
}

  .bookDescription {
    color: #7A918D;
  }

  .booking-button {
    position: absolute;
    bottom: 10px;
    left:10px;
    color: #FDFFFC;
    background-color: #39304A;
    border-color: #39304A;
  }

  .booking-button:focus {
    color: #FDFFFC;
    background-color: #39304A;
    border-color: #39304A;
    box-shadow: 5px 10px ;
  }

  .booking-button:hover {
    color: #39304A;
    background-color: #FDFFFC;
    border-color: #39304A;
  }


</style>
  <div class="row">
    <div class="col-md-2 ps-5 mt-5 pt-5">
      <h5>Filtrer</h5>
      {{ form(form)}}
    </div>

    <div class="col-md-10">
      <h1 class="text-center mt-3">CATALOGUE</h1>
      <hr class="m-5">
        <div class="row mt-3 d-flex justify-content-around">
          {% for book in catalog %}
            <div class="card m-3 ps-0 col-md-3" style="max-width: 540px;">
              <div class="row g-3">
                <div class="col-md-4 ">
                  <img src="/uploads/{{ book.cover }}" class="img-fluid rounded-start" alt="{{ book.cover }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">{{ book.title }}</h4>
                    <span class="book-author-type">{{ book.author }}, {{ book.type }}</span>
                    <p class="card-text bookDescription">{{ book.description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div>
                  <a href="{{ path('add_to_cart', {'id' : book.id}) }}" class="btn btn-light booking-button">Réserver</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
  
  
{% endblock %}
